<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>vhb Anmeldedienst - Zugang verweigert</title>
        <link rel="stylesheet" type="text/css" href="https://idp.vhb.org/idp/css/main.css">
        <script type="text/javascript" src="https://idp.vhb.org/idp/css/401.js">
	</script>
        </head>
  
        <body onload="lmsInfo()" >
    <div class="aai_box">
         <div class="container"> 
                <header>
             
                <a href="https://www.vhb.org/">
                <img style="border: 0" src="https://idp.vhb.org/idp/images/vhb-logo.png" alt="Logo der vhb" align="left">
                </a>
                </header>
         </div>

                <h3>vhb Anmeldedienst - Zugang verweigert</h3>
<hr>
                <div>
            <p id="errorinfo">Sie sind nicht berechtigt auf die vhb-Dienste zuzugreifen. 
Weitere Informationen finden Sie in den <a href="http://www.vhb.org/studierende/faq/" title="FAQs" target="_blank">Hilfestellungen in den FAQs</a>. 
</p>
<p id="userinfo">
</p>
  </div>
<hr>
<div>
<p id="lmsinfo">
</p>
</div>
</div>
    

</body></html>

